<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="form-container">
        <mat-card-title>Logga in</mat-card-title>>
        <mat-form-field appearance="fill">
          <mat-label>E-post</mat-label>
          <input matInput [(ngModel)]="email" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Lösenord</mat-label>
          <input
            [(ngModel)]="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <div class="buttons-container">
          <button mat-button class="text-button" (click)="signup = !signup">
            SKAPA PROFIL
          </button>
          <mat-spinner color="accent" diameter="30" *ngIf="(pending$ | async)"></mat-spinner>
          <button *ngIf="!(pending$ | async)" (click)="signIn()" mat-raised-button color="accent">
            LOGGA IN
          </button>
        </div>

        <mat-card-title>Eller</mat-card-title>

        <button *ngIf="!(pending$ | async)" routerLink="../order-no-login" mat-raised-button color="accent">
          BEKRÄFTA UTAN INLOGGNING
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

