@import "~@angular/material/theming";
$frukostbulle-primary: mat-palette($mat-deep-purple);
$frukostbulle-primary-dark: mat-palette($mat-deep-purple, 900);
$frukostbulle-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$frukostbulle-warn: mat-palette($mat-red);

.nav-container {
  position: fixed;
  bottom: 8px;
  width: 100%;

  .bottom-nav-bar {
    width: 95%;
    height: 4em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: default;
    user-select: none;
    border-radius: 0.5em;
    margin: 0 auto;
  }

  .bottom-nav-bar:focus {
    outline: 0;
  }

  a:focus {
    outline: 0;
  }

  .nav-icon:focus {
    outline: 0;
  }
  .nav-icon {
    height: 100%;
    width: 100%;
    color: #707070;
    display: grid;
    place-items: center;
    font-size: 2em;
    cursor: pointer;
    transform: scale(0.85);
    border: none;
  }

  .active {
    color: mat-color($frukostbulle-accent);
    transform: scale(1.2);
    animation-name: example;
    animation-duration: 300ms;
  }


  .active:focus {
    outline: 0;
  }
}
mat-icon .mat-icon {
  border: none;
}
.nav-container[_ngcontent-ell-c215] .bottom-nav-bar[_ngcontent-ell-c215] {
  border: none;
}

@keyframes example {
  from {transform: scale(0.85);}
  to {transform: scale(1.2);}
}


@media (min-width: 900px) {
  .nav-container {
    .bottom-nav-bar {
      width: 50%;
    }
  }
}
