<mat-tab-group mat-stretch-tabs color="primary" backgroundColor="primary">
  <mat-tab label="SÄLJARE">
    <div class="container">
      <mat-list>
        <mat-list-item mat-ripple (click)="sellerRowClicked();" class="list-item">
          <img matListAvatar class="list-img"
               src="https://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png">
          <h3 matLine class="userid"> ID </h3>
          <p matLine class="seller-name"> Säljarnamn </p>
          <p matLine class="seller-email"> Mejladdress </p>
        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>

      <button class="fab" mat-fab color="accent" routerLink="/generate-sellercode">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </mat-tab>

  <mat-tab label="KÖPARE">
    <div class="container">
      <mat-list>
        <mat-list-item mat-ripple (click)="buyerRowClicked();" class="list-item">
          <img matListAvatar class="list-img"
               src="https://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png">
          <h3 matLine class="user-id"> DummyId</h3>
          <p matLine class="buyer-name"> Köparnamn </p>
          <p matLine class="buyer-mail"> Mail </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

    </div>
  </mat-tab>


</mat-tab-group>

<div class="container">

</div>
