<mat-toolbar class="toolbar" color="primary">
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{title}}</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<div class="container" *ngIf="seller$ | async">

  <mat-card *ngIf="cartItems.length == 0">
    <mat-card-header>
      <mat-card-title>
        Din varukorg är tom
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card *ngIf="cartItems.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let item of cartItems">
        <img mat-list-avatar src="src/assets/no-image.png" alt="photo"/>
        <h3 matLine *ngIf="item.item">{{item.item.itemName}}</h3>
        <p matLine *ngIf="item.item"> {{item.item?.price * item?.amount}}:- </p>
        <p matLine class="amount-line" *ngIf="item.item">
          <mat-icon mat-ripple (click)="decrementAmount(item.item.itemId)">remove</mat-icon>
          {{item.amount}}
          <mat-icon mat-ripple (click)="incrementAmount(item.item.itemId)">add</mat-icon>
        </p>
        <mat-icon mat-ripple (click)="onDelete(item)">delete</mat-icon>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>ATT BETALA </h3>
        <span>{{total}}</span>
      </mat-list-item>
    </mat-list>


    <div class="form-container">

      <ejs-calendar matLine [(value)]="selectedDate" (renderDayCell)="disableDate($event)"></ejs-calendar>
      <mat-form-field appearance="fill">
        <mat-label>Leveranstid</mat-label>
        <mat-select (selectionChange)="changeTime($event.value)">
          <mat-option value="7">Klockan 07:00</mat-option>
          <mat-option value="8">Klockan 08:00</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Leveransmetod</mat-label>
        <mat-select (selectionChange)="changeDeliveryMethod($event.value)">
          <mat-option value="0">Hänga på dörren</mat-option>
          <mat-option value="1">Knacka på dörren</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button *ngIf="(currentUser$ | async) as currentUser"
              color="accent" (click)="onConfirm(currentUser)">
        BEKRÄFTA BESTÄLLNINGEN
      </button>
    </div>

  </mat-card>

</div>
