<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateHome()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>E-post</mat-label>
          <input matInput [(ngModel)]="email"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Lösenord</mat-label>
          <input
            [(ngModel)]="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <div class="buttons-container">
          <button mat-button class="text-button" (click)="signup = !signup">
            SKAPA PROFIL
          </button>
          <mat-spinner color="accent" diameter="30" *ngIf="(pending$ | async)"></mat-spinner>
          <button *ngIf="!(pending$ | async)" (click)="signIn()" mat-raised-button color="accent">
            LOGGA IN
          </button>
        </div>

        <button
          style="text-align: end; color: rgba(41, 41, 41, 0.733); font-size: x-small; "
          mat-button [routerLink]="['/reset-password']">ÅTERSTÄLL LÖSENORDET
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin-top: 2em" *ngIf="signup">
    <mat-card-title>Skapa Profil</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          matRipple
          class="landing-item"
          [routerLink]="['/buyer/signup']"
        >
          <h3 matLine>SKAPA KÖPARPROFIL</h3>
          <mat-icon>shopping_basket</mat-icon>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item
          matRipple
          class="landing-item"
          [routerLink]="['/seller/signup']"
        >
          <h3 matLine>SKAPA SÄLJARPROFIL</h3>
          <mat-icon>storefront</mat-icon>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel style="margin-top: 16px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aktivera din profil
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field appearance="legacy">
        <mat-label>E-post</mat-label>
        <input matInput required [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Bekräftelsekod</mat-label>
        <input matInput required [(ngModel)]="code">
      </mat-form-field>

      <br>
      <button mat-raised-button color="accent" (click)="onConfirm()">Bekräfta</button>
    </mat-expansion-panel>

  </mat-accordion>

</div>
