<mat-toolbar color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <mat-icon
    *ngIf="(pointList.length > 0) && editing"
    (click)="deleteSelectedShape()">delete
  </mat-icon>
  <mat-icon *ngIf="!editing" (click)="onEdit()" style="margin-left: 8px">edit</mat-icon>
  <mat-icon *ngIf="editing" (click)="onEdit()" style="margin-left: 8px">close</mat-icon>
</mat-toolbar>

<div class="container">

  <!--
    <app-map *ngIf="(area$ | async) as area"
      [area]="area"
      [editing]="editing"
      [lat]="lat"
      [lng]="lng"
      (mapReady)="onMapReady($event)"
    ></app-map>
  -->
  <input
    id="search-field"
    placeholder="Sök address..."
    type="text"
    class="form-control"
    (keydown.enter)="$event.preventDefault()"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    #search
  />
  <agm-map *ngIf="(area$ | async) as area"
           [zoom]="15" [latitude]="lat"
           [longitude]="lng"
           (mapReady)="onMapReady($event)">

    <agm-marker [latitude]="lat" [longitude]="lng">
    </agm-marker>
    <agm-polygon *ngIf="!editing" [paths]="area.coordinates"></agm-polygon>
  </agm-map>

  <div class="buttons-container" style="margin-top: 16px">
    <button mat-raised-button (click)="navigateBack()">AVBRYT</button>
    <button mat-raised-button color="accent" (click)="onSave()">SPARA</button>
  </div>

</div>
