<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple
            class="back-icon"
            (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
</mat-toolbar>
<div class="container" *ngIf="(buyer$ | async) as buyer">

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{!buyer.profilePictureUrl || buyer.profilePictureUrl === ''
       ? 'assets/img/profile-photo-placeholder.png' : buyer.profilePictureUrl}}"
           alt="photo"
           id="profile-photo"/>
      <mat-card-title>
        {{buyer.name}}
      </mat-card-title>
      <mat-card-subtitle>
        User id {{buyer.id}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-button color="warn" (click)="delete(buyer.id)">
        Ta bort
      </button>
    </mat-card-actions>


  </mat-card>


</div>

