<mat-card>
  <h1>{{(buyer$ | async)?.name}}</h1>
  <mat-list>

    <h3 matSubheader>Frallor</h3>
    <mat-list-item *ngFor="let entry of order?.content">
      <img mat-list-avatar src="assets/img/no-image.png">
      <h3 matLine> {{entry.item.itemName}} </h3>
      <p matLine>{{entry.item.price}}:-/st</p>
      <p matLine> {{entry.amount}}</p>
      <h3> {{entry.item.price * entry.amount}}:- </h3>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>

  <mat-list>
    <mat-list-item>
      <h2>Total</h2>
      <span class="toolbar-spacer"></span>
      <h2 *ngIf="(getOrderTotal(order.id) | async) as total">{{total}}:-</h2>
    </mat-list-item>
  </mat-list>


  <mat-list>
    <h3 matSubheader>Address</h3>
    <mat-list-item>
      <h2>{{(buyer$ | async)?.address}}</h2>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <h3 matSubheader>Beställningsnummer</h3>
    <mat-list-item>
      <h2>{{order?.id}}</h2>
    </mat-list-item>
  </mat-list>
  <!--
    <mat-list>
      <h3 matSubheader>Mobilnummer</h3>
      <mat-list-item>
        <h2>Buyer's mobile number</h2>
      </mat-list-item>
    </mat-list>
  -->

  <div class="form-container">
    <button mat-raised-button color="accent">
      SKRIV UT KVITTO
    </button>

  </div>


</mat-card>
