.toolbar {
    cursor: default;
    position: sticky;
  }
  
  .container {
    padding: 16px 16px 0 16px;
    margin-bottom: 20%;
  }
  
  .form-container {
    display: grid;
  }
  
  .text-button {
    color: #c79100;
  }
  