<mat-toolbar class="toolbar" color="primary">
  <mat-icon class="back-icon" (click)="navigateBack()">arrow_back</mat-icon>
</mat-toolbar>

<div class="container">
  <mat-card>
    <h3 matSubheader>Statistik</h3>
  </mat-card>
  <mat-card style="margin-top: 16px;">
    <mat-list>
      <h3 matSubheader>Historik</h3>
      <mat-list-item mat-ripple
                     *ngFor="let order of orders$ | async; index as k;"
                     [routerLink]="['/seller/orders', order.id]">
        <img mat-list-avatar src="assets/img/no-image.png">
        <h3 matLine> {{order.buyerName}} </h3>
        <div matLine *ngFor="let item of order.content | keyvalue; index as i">
          <p *ngIf="i === 0">{{item.key.itemName}}...</p>
        </div>
        <h3 matLine> {{getOrderTotal(order.id)}}:- </h3>
        <mat-divider *ngIf="(k + 1) < (orders$ | async).length"></mat-divider>
      </mat-list-item>
    </mat-list>

  </mat-card>

</div>
