<mat-toolbar class="toolbar" color="primary">
  <mat-icon class="back-icon" (click)="navigateBack()">arrow_back</mat-icon>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-list>
      <h3 matSubheader>Statistik</h3>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="statistics"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </mat-list>
  </mat-card>
  <mat-card style="margin-top: 16px; margin-bottom: 10em">
    <mat-list>
      <h3 matSubheader>Historik</h3>
      <div *ngIf="(orders$ | async) as orders">
        <mat-list-item mat-ripple
                       *ngFor="let order of orders; index as k;"
        >
          <img mat-list-avatar src="assets/img/no-image.png">
          <h3 matLine> {{order.buyerName}} </h3>

          <h3 matLine> {{order.price}}:- </h3>
          <mat-divider *ngIf="(k + 1) < orders.length"></mat-divider>
        </mat-list-item>

      </div>
    </mat-list>

  </mat-card>

</div>
