<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-spinner color="accent" class="spinner" *ngIf="(loading$ | async)"></mat-spinner>
<div class="grid-container">
  <mat-card class="grid-item"
            mat-ripple *ngFor="let item of items$ | async"
            [routerLink]="['/seller/items', item.itemId]"
  >
    <div class="img-container">
      <img mat-card-image
           class="grid-img"
           src="{{ (
             item.imageUrl == null
              || item.imageUrl === ''
              || item.imageUrl === 'assets/img/product-placeholder.png'
              ) ? 'assets/img/no-image.png' : item.imageUrl }}"
           alt="product-image-placeholder"
      />
    </div>
    <mat-card-title>{{ item.itemName }}</mat-card-title>
    <mat-card-subtitle>{{ item.price }}:-</mat-card-subtitle>
  </mat-card>

</div>
<button class="fab" mat-fab color="accent" routerLink="/seller/items/new">
  <mat-icon>add</mat-icon>
</button>
