<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="toolbar-spacer"></span>

</mat-toolbar>

<div style="margin-left: 50px; margin-top: 50px;">
    <button mat-raised-button color="accent" class="generate-button" style="margin: 16px 0 16px 0" (click)="getCode();">
        GENERERA KOD TILL SÄLJARPROFIL
    </button>
</div>
<div style="margin-left: 50px;">
    <span>{{code}}</span>
</div>
