.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
agm-map {
  height: 600px;
}

#search-field {
  padding: 16px;
  background: white;
  border: 0;
  border-radius: 8px;
  width: 70%;
}
