<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<div class="container">


  <h2>Historika beställningar:</h2>
  <mat-list>
    <mat-list-item mat-ripple *ngFor="let seller of sellers" (click)="navigateToDetails(seller.sellerId)">
      <img mat-list-avatar src="../../../assets/img/product-placeholder.png">
      <h3 matLine> {{seller.sellerName}} </h3>
      <p matLine> {{seller.firstProduct}}... </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

</div>
