.toolbar {
  cursor: default;
  position: sticky;
}
.back-icon {
  margin-right: 16px;
}

.form-container {
  display: grid;
}

.text-button {
  color: #c79100;
}


h3 {
  color: black;
}

/*
.fab {
  position: fixed !important;
  right: 20px;
  bottom: 70px;
  cursor: pointer;
}
*/

.list-img {
  float: left;
  max-height: 100px;
}

.list-item {
  cursor: pointer;
}
