<mat-toolbar class="toolbar" color="primary">
  <button (click)="navigateBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="spacer"></span>
  <span>{{ title }}</span>
</mat-toolbar>
<div class="container">
  <h3 class="header">Efter att du har angett din mejladdress kommer du
    få en mejl med ett nytt lösenord.<br><br>
    Du kan ändra ditt lösenord när du vill från din profilsida.
  </h3>

  <div class="form-container">

    <mat-form-field appearance="fill">
      <mat-label>E-post</mat-label>
      <input matInput value="{{email}}">
    </mat-form-field>
    <button
      (click)="sendResetRequest();"
      mat-raised-button color="accent">
      ÅTERSTÄLL
    </button>

  </div>

</div>
