<mat-toolbar class="toolbar" color="primary">
  <button (click)="navigateBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="spacer"></span>
  <span>{{ title }}</span>
</mat-toolbar>
<div class="container">
  <mat-card *ngIf="!confirm">
    <mat-card-content>

    <div class="form-container">

    <h3>Efter att du har angett din mejladdress kommer du
      få en mejl med en kod.<br><br>
    </h3>

      <mat-form-field>
        <mat-label>E-postadress</mat-label>
        <input
          matInput
          required
          [formControl]="emailControl"
        />
      </mat-form-field>

    <div class="buttons-container">
    <button
      (click)="sendResetRequest();"
      mat-raised-button color="accent">
      ÅTERSTÄLL
    </button>

    </div>

  </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 16px;">
    <h3>Du kommer få inom kort ett mejl med en kod</h3>

    <mat-form-field appearance="legacy">
      <mat-label>E-post</mat-label>
      <input matInput required [formControl]="emailControl">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Bekräftelsekod</mat-label>
      <input matInput required [(ngModel)]="code">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="onConfirm()">Bekräfta</button>
  </mat-card>

</div>
